<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--property name="hibernate.connection.url">jdbc:mysql://elegantisimos.com:3306/eleganti_urcs?zeroDateTimeBehavior=convertToNull</property-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eleganti_urcs?zeroDateTimeBehavior=convertToNull</property>
    <!--property name="hibernate.connection.username">eleganti_vane</property>
    <property name="hibernate.connection.password">v4n3554</property-->
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">hybridmeteora</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Perfil.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Servicio.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Opcion.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Area.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Usuario.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Oficina.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Estado.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Informe.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Operario.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/Solicitud.hbm.xml"/>
    <mapping resource="pe/edu/unmsm/urcs/modelo/FacultadDependencia.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
